<app-header></app-header>

<div id="home-section">
  <!-- <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of images;let i= index">
      <img class="slide-image" src="{{image.image}}" >
      <div class="slide-text">
        <h4>{{image.text}}</h4>
      </div>
    </div>
  </owl-carousel> -->
  <div class="MagicScroll" data-options="autoplay: 1000; step: 1; mode: carousel; height: 275;">
    <a href="#"><img src="../../assets/img/1.jpg" /></a>
    <img src="../../assets/img/2.jpg" />
    <img src="../../assets/img/3.jpg" />
    <img src="../../assets/img/4.jpg" />
    <img src="../../assets/img/5.jpg" />
    <img src="../../assets/img/6.jpg" />
    <img src="../../assets/img/7.jpg" />
    <img src="../../assets/img/8.jpg" />
    <img src="../../assets/img/9.jpg" />
    <img src="../../assets/img/10.JPEG" />
  </div>

</div>
<div id="about-us"  class="bg-pink">
  <div class="container">
    <div class="row">
      <div class="col-9 white aboutsection">
        <p>Food was on Bauddhayan's mind when Little Lamb was born.</p>
        <br>
        <p>
          Hence, the philosophy of Little Lamb draws a parallel from the world of food. According to Bauddhayan, the founding director of Little Lamb, "Filmmaking is like preparing a dish. It needs the right ingredients in the right proportion to make a tasty treat."
        </p>
        <br>
        <p>At Little Lamb, we take pride in cooking up stories.</p>
        <br>
        <p>With hand-picked ingredients, mixed to perfection, we make films that are edible.</p>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="little-animation-0124-sky">
      <img  class="aboutImg" src="../../assets/img/little-0124-1.png"/>
    </div>
    <div class="ourstories-buddy ">
      <div class="row">
        <div class="col-9 white buddysection">
          <p>
            Bauddhayan Mukherji, the quintessential Bengali from Kolkata, got rechristened Buddy in Bombay. No prizes for guessing – he hates it. What he loves however, is to eat. His adage – we also make films!
          </p>
        </div>
        <div class="col-3"></div>
      </div>
      <div class="row">
        <div class="col-7 white monasection">
          <p>
            Monalisa Mukherji is a poet, producer, aspiring filmmaker, supermom. 50 points for guessing those. 50 more if you had been a hindrance while she is going for her singing class or about to conduct a healing session.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="our-stories" class="title-littlelamb">
  <div class="white-section">

    <div class="text-center white-section-title">Our Stories</div>
    <div class="container" style="padding-bottom: 30px;">
  
   <div class="MagicScroll" data-options="mode: cover-flow; height: 275px;">
    <a href="#"><img src="../../assets/img/11.jpg" /></a>
    <img src="../../assets/img/12.jpg" />
    <img src="../../assets/img/13.jpg" />
    <img src="../../assets/img/14.jpg" />
    <img src="../../assets/img/15.jpg" />
    <img src="../../assets/img/16.jpg" />
    <img src="../../assets/img/17.jpg" />
    <img src="../../assets/img/18.jpg" />
    <img src="../../assets/img/19.jpg" />
    <img src="../../assets/img/20.jpg" />
  </div>

  </div>
  </div>

</div>

<div id="team" >
  <h1 class="text-center team-section">Our Team</h1>
  <div class="container">

  <div class="row team-area" >
   <div class="col-4" style="padding-left: 7%;">
    <div class="zoom circular--landscape">
      <img src="../../assets/img/profile1.jpg" class="w-100 " />
      <a href="#!">
        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
      </a>
    </div>
   </div>
   <div class="col-4" style="padding-left: 7%;">
    <div class="zoom circular--landscape">
      <img src="../../assets/img/profile2.jpg" class="w-100 " />
      <a href="#!">
        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
      </a>
    </div>
   </div>
   <div class="col-4" style="padding-left: 7%;">
    <div class="zoom circular--landscape">
      <img src="../../assets/img/profile3.jpg" class="w-100" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
      </a>
    </div>
   </div>
 </div>
 <div class="white team-detail-section row">
   <div class="col-12">
     <img src="../../assets/img/digvijay-c.png" style="width: 100%;padding-bottom: 1%;"/>

   </div>
   <div class="story-content">
    <p>
      What do you call a man who prefers kabaddi to cricket and pani puri to pizzas? Well… nothing. We just accept him the way he is and love him for that.
    </p>
    <p>
      If you don’t find him at office burning the midnight oil, you would possibly catch him riding his bike while listening to Sufi numbers. Wanna be a pillion rider?
    </p>
    <p>
        Digivijay Patil, our Associate Producer, is different and happily so. He is a small town boy who lives in Mumbai for his love for the moving images. Honest to the core and incredibly hard working, Digvijay loves to cooks up stories and cooks as well. 
    </p>

  </div>
 </div>
   
  </div>

</div>

<div id="contact-us" class="bg-pink">
  <h1 class="text-center team-section">Contact Us</h1>
  
  <div class="container row">
    <div class="col-4"></div>
    <div class="footer_form col-6">
      <input type="text" placeholder="Full Name" class="form-control"/>
      <br>
      <input type="text" placeholder="Email ID"  class="form-control"/>
      <br>
      <input type="text" placeholder="Subject"  class="form-control"/>
      <br>
      <textarea   class="form-control">Message</textarea>
      <br>

<button class="button-send text-uppercase">send</button>
    </div>
    <div class="col-2"></div>
 
  </div>

  <div class="footer-section row">
    <div class="col-3 footer-list">
      <div class="heading"></div>
      <div class="description">
        © Hijibiji Pvt. Ltd. | All Rights Reserved
      </div>
    </div>
    <div class="col-3 footer-list">
      <div class="heading">Address</div>
      <div class="description">
        2/7 Yashwant Nagar, Road No 3,
        Opp Ganesh Temple, Near Apna Bazar,
        Goregaon (West), Mumbai 400104, India.
      </div>
    </div>
    <div class="col-3 footer-list">

      <div class="heading">Contact</div>
      <div class="description">
        <div>
         <span>
          Avishek Ghosh<br>
          Producer
         </span>
         <span style="padding-left: 25%;">+91-9769402419</span>
        </div>
        <div>
          <span>
            Email :
          </span>
          <span style="padding-left: 10%;">info@littlelambfilms.com</span>
         </div>

      </div>
      
    </div>
    <div class="col-3 footer-list">

      <div class="heading">Follow Us</div>
      <div class="description">
       <img src="../../assets/img/facebook.png" class="follow-us-icon"/>
       <img src="../../assets/img/instagram.png" class="follow-us-icon"/>
      </div>
      
    </div>
   
  </div>

</div>
<button id="myBtn" (click)="topFunction()"  title="Go to top">Top</button>



<!-- <div class="site-blocks-cover" id="home-section">
  <div class="img-wrap">
    <div class="owl-carousel slide-one-item hero-slider">
      <div class="slide">
        <img src="../../assets/img/glint_hero_1.jpg" alt="Image">  
      </div>
      <div class="slide">
        <img src="../../assets/img/glint_hero_2.jpg" alt="Image">  
      </div>
      <div class="slide">
        <img src="../../assets/img/glint_hero_3.jpg" alt="Image">  
      </div>
    </div>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto align-self-center">
        <div class="intro">
          <div class="heading">
            <h1>Hijibiji Studio</h1>
          </div>
          <div class="text">
            <p class="sub-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde modi blanditiis iure.</p>
            <p><a href="#" target="_blank" class="btn btn-outline-primary btn-md">Start a project</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->
<!-- END .site-blocks-cover -->



